# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1df9cbc48f4a6d04a86ced2e5a19c568e4751d45e7cb780380c1f08d8c27d326159c82b308c3d1cda9edb0e3710ba26b3985be39c1506b29b64fab52f0f2c77f

test:
  secret_key_base: 587d444362b944162eeb4158c8201b1c76a2e7592a4336e64d578ba4041f20a8d273d3047919ec915edc4fc375514eaea53a2ef981f9167b7a62ef8aeb92bcda

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
